.invesform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, rgba(2, 11, 98, 0.8), rgba(0, 78, 146, 0.8)), 
      url('../assets/signin_background.png') no-repeat center center/cover;
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: auto; 
}


.invesform-container {
    text-align: center;
}

.cmp-logo {
    margin-bottom: 20px; 
    text-align: center;
}

.cmp-logo img{
  max-width: 150px;
  height: auto;
}

.invesform-box {
    width: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: left;
}

.invesform-box h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.mb3 {
    margin-bottom: 15px;
    position: relative;
  }

.form-label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0.5rem;
    display: block;
    color: #ccc;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    outline: none;
    margin-bottom: 1rem;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
    border: 1px solid #007bff;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

.text-center {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #bbb;
}

.text-danger {
    font-size: 14px;
    color: #dc3545;
}

input[type="file"] {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
